body {
    margin: 0px;
    height: 100vh;
    background-color: rgb(197, 181, 164, .40);
}


.profileContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.profileContent {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 9fr;
    grid-gap: 20px;
}

.profileLeft {
    display: flex;
    justify-content: center;
}

.profileLeftContent {
    width: 90%;
    display: flex;
    justify-content: center;
    /* background-color: rgb(206, 102, 102); */

}

.profileBox {
    margin-top: 100px;
    position: relative;
    text-align: center;
    height: 650px;
    width: 440px;
    background-color: white;
    border-radius: 30px;
}

.gearIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.bioContent {
    padding: 30px;
}

.username {
    font-size: 35px;
    font-weight: 400;

}

.profileButton {
    background-color: none;
    text-align: center;
    justify-content: center;
    position: relative;
}

.profilePic {
    margin-top: 30px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.625);
    transition-property: all;
    transition-duration: 180ms;
}

.profilePic:hover {
    opacity: 0.5;
    transition-property: all;
    transition-duration: 180ms;
}

.changePhoto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-weight: bold;
    font-size: 20px;
}   

.bioBox {

    text-align: left;

}

.bioList {

    list-style: none;

}

.bioEntry {
    padding: 5px;
    font-size: 25px;
    font-weight: 400;

}

.profileRight {
    display: flex;
    justify-content: center;
}

.profileRightContent {
    width: 100%;
    height: 1000px;
    /* background-color: rgb(116, 155, 255); */
    display: flex;
    justify-content: center;
    
}

.profileStats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 16px 0;
}

.statSection > *{
    display: inline;
}

.statSection {
    font-size: 18px;
}

.profileStats button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;

    padding: 1px 6px 0 6px;
}

.opacBackground {
    width: 100%;
    height: 100vh;
    top: 0px;
    display: none;
    position: fixed;
    background-color: rgb(0,0,0,0.3);
    justify-content: center;
    align-items: center;
}

.followContainer {
    width: 460px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 1.4rem;
}

.followersHeader {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    border-bottom: 2px solid #bfbfbf;
    position: relative;
}


.closeIcon {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    right: 16px;
    width: 22px;
    height: 22px;
    color: white;
    cursor: pointer;
} 

.followersList {
    height: auto;
    padding: 12px;
    list-style: none;
}

.followersList li {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    align-items: center;
    padding: 8px;
}


.followersList li > * {
    display: inline-block;
}

.followersList li > button {
    background-color: #ffffff;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.followersList img {
    width: 40px;
    height: 40px;
    border: solid 2px rgb(0,0,0,0.8);
    border-radius: 50%;
}



@media screen and (max-width: 960px) {

    .profileContainer {
        height: 230vh;
    }

    .profileContent {
        display: table-row;
    }


}