.loginContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    justify-content: center;
    position: fixed;



}
video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

.cheflogo{
    font-family: American Typewriter, serif;
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10x;
    text-align: center;
}

.loginBox{
    width: 350px;
    height: 280px;
    padding: 20px;
    background-color: rgb(255, 255, 255, .85);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.loginContent{
    padding: 15px;

}

.textBox{
    margin-top: 10px;
    font-family: Trebuchet MS, sans-serif;
    height: 45px; 
    border-radius: 10px;
    border: 1px solid rgb(128, 128, 128, .85);
    font-size: 18px;
    padding-left: 20px;
}

.loginButton {

    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;

    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    transition-property: all;
    transition-duration: 400ms;

  
}

.notUser{
    margin-top: 15px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 15px;
    color: #1775ee;
    text-align: center;
    font-weight: bold;
    transition: 250ms ease-in-out
}

.notUser:hover{
    color: darkblue
}
