:root {
    --main-radius: 5px;
    --main-padding: 15px;
}

.post {
    display: grid;
    height: 50vh;
    width: 70vh;;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);

    margin: 30px 0;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 0.18fr;
    grid-template-areas:
        "postTop postTop"
        "column1 column2"
        "postBottom postBottom";

    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 12.5px;
    color: #004d40;
    text-align: left;

    margin-left: auto;
    margin-right: auto;

    padding: 10px;
}

.postTop {
    /* background: #a7ffeb; */
    grid-area: postTop;
    border-radius:var(--main-radius);
    /* border-bottom: 1px solid gray; */
    padding-top:var(--main-padding);
}

.profilePicture {
    border-radius: 50%;
    max-height: 25px;
    max-width: 25px;
}

.name {
    color: rgb(6, 81, 219);
}

.column1 {
    padding: 15px;
    /* background: #18ffff; */
    grid-area: column1;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
    object-fit: contain;
}

.title {
    font-size: 30px;
    text-align: center;
    font-family: "Tahoma", sans-serif;
    object-fit: contain;
}

.column2 {
    /* background: #6fffd2; */
    grid-area: column2;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

.postImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.likeCounter{
    font-style: 15px;
}

.postBottom {
    /* background: #1de9b6; */
    grid-area: postBottom;

    border-radius:var(--main-radius);
    padding-top:var(--main-padding);

    cursor: pointer;
    font-style: 15px;

}


@media only screen and (max-width: 1000px) {

    :root {
        --main-radius: 5px;
        --main-padding: 15px;
    }

    .post {
        
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1.5fr 1.5fr 0.2fr;
        grid-template-areas:
            "postTop"
            "column1"
            "column2"
            "postBottom";
              
    }

    .postTop {
        /* background: #a7ffeb; */
        grid-area: postTop;
        border-radius:var(--main-radius);
        /* border-bottom: 1px solid gray; */
        padding-top:var(--main-padding);
    }
    
    .profilePicture {
        border-radius: 50%;
        max-height: 25px;
        max-width: 25px;
    }
    
    .name {
        color: rgb(6, 81, 219);
    }
    
    .column1 {
        padding: 15px;
        /* background: #18ffff; */
        grid-area: column1;
        border-radius:var(--main-radius);
        padding-top:var(--main-padding);
        object-fit: contain;
    }
    
    .title {
        font-size: 30px;
        text-align: center;
        font-family: "Tahoma", sans-serif;
    }
    
    .column2 {
        /* background: #6fffd2; */
        grid-area: column2;
        border-radius:var(--main-radius);
        padding-top:var(--main-padding);
        object-fit: contain;
    }
    
    .postImg{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .likeIcon{
        width: 24px;
        height: 24px;
        margin-right: 5px;
        cursor: pointer;
    }
    
    .likeCounter{
        font-style: 15px;
    }
    
    .postBottom {
        /* background: #1de9b6; */
        grid-area: postBottom;
    
        border-radius:var(--main-radius);
        padding-top:var(--main-padding);
    
        cursor: pointer;
        font-style: 15px;
    
    }

}