body {
    margin: 0px;
}

.postContainer {
    font-family: 'Abhaya Libre', serif;

    width: 700px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    margin-top: 100px;
    padding: 30px;
}

/* .postContent {
    
} */

.postRow {
    display: flex;
    align-items: center;
    font-size: 21px;
}

/* .postThumbnail {
    display: inline-block;
    border-radius: 50%;
    max-height: 45px;
    max-width: 45px;
} */

.postThumbnail{
    border-radius: 50%;
    max-height: 50px;
    max-width: 50px;
    transition-property: all;
    transition-duration: 400ms;
}

.postThumbnail:hover {
    opacity: .7;
    transition: all 0.2s ease-out;
}

.likeIcon {
    border-radius: 50%;
    max-height: 40px;
    max-width: 40px;
    transition-property: all;
    transition-duration: 400ms;
}

.likeIcon:hover {
    opacity: .7;
    transition: all 0.2s ease-out;
}

.postUsername {
    display: inline-block;
}

.postDate {
    display: inline-block;
}

.topBar {
    margin-top: 10px;
    margin-bottom: 0px;

}

.postColumnGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.postLeftColumn {
    text-align: center;
}

.postRightColumn {
    display: flex;
    align-items: center;
}

.columnSection {
    margin-top: 35px;
}

.postTitle {
    /* margin-top: 20px; */
    font-size: 30px;
    font-weight: bold;
}

.columnBar {
    height: 1px;
    text-align: center;
    width: 85%;
}

.cookInfo {
    font-size: 20px;
    text-align: left;
}

.foodImage {
    display: block;
    border-radius: 1rem;
    border: 3px solid rgb(0, 0, 0, .7);
}

.foodImage2 {
    display: block;
    width: 320px;
}

.directions {
    text-align: center;
}

.directionList {
    font-size: 20px;
    list-style: none;
    text-align: left;
}

.directionList li {
    counter-increment: item;
    margin-bottom: 10px;
}

.directionList li::before {
    content: counter(item);
    font-size: 24px;
    font-weight: bold;
}