* {
    margin: 0;
    padding: 0;
}

.navbarItems {
    background: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 20px;
}

.profPic{
    border-radius: 50%;
    max-height: 50px;
    max-width: 50px;
    transition-property: all;
    transition-duration: 400ms;
}

.profPic:hover {
    border: 2px solid white;
    max-height: 40px;
    max-width: 40px;
    transition: all 0.2s ease-out;
}

.navbarLogo {
    font-family: American Typewriter, serif;
    color: #fff;
    /* justify-self: start; */
    text-align: center;
    margin-left: 25px;
    cursor: pointer;
    width: 275px;
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    position: absolute; /*to make ChefMedia in center of page */
    
}

.navbarLogo:after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 68px;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbarLogo:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: -11rem; /*to move menu move to the right */
}

.routerLink {
    text-decoration: none;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition-property: all;
    transition-duration: 400ms;
    font-weight: 500;
}

.nav-links:hover {
    /* background-color: rgb(50, 198, 50); */
    background-color: rgb(63, 63, 63);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: white;
}

.fa-times {
    color: white;
    font-size: 2rem;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

.navButtons {
    display: inline-block;
    padding: 5px;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .profPic{
        border-radius: 50%;
        max-height: 50px;
        max-width: 50px;
        margin-left: -400px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: black;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: rgb(63, 63, 63);
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 0.5rem auto;
        border-radius: 4px;
        width: 80%;
        background: black;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: white;
        color: #6568F4;
        transition: 250ms;
    }

    .navButtons {
        display: none;
    }
}

.gitLogo{
    width: 63px;
    height: 17px;
    /* padding: 10px;
    margin-bottom: 17px; */
}

.linkedLogo{
    width: 98px;
    height: 31px;
    /* padding: 20px; */
}