.footer {
    background: black;
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    margin-bottom: 15px;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: white;
  }

  strong {
    padding: 10px;
  }

  .footer-separator {
    border: none;
    background-color: black;
    height: 10px;
    width: 100%;
    object-fit: none;
    /* height: 100%; */
  }

  .footer-title {
    display: flex;
    font-size: 35px;
    font-weight: 600;
    font-family: American Typewriter, serif;
    justify-content: center;
    margin-top: 10px;

  }


  
  .center {
    padding: 15px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .githublogo {
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
    transition-duration: 400ms;
    font-weight: 500;
  }

  .githublogo:hover {
    opacity: 0.5;
    transition: all 0.2s ease-out;
  }